* {
    background-color: #01263f;
    /* background-color: teal; */
    
}
.fieldSet{
    border: 1px solid wheat;
    border-radius: 7px;
}
.legend{
    color :white;
}


.inputName{
    color : white;
}
.rememberMe{
    color : white;
}
.textBox{
    border: 1px solid #4985 ;
    border-radius: 6px;
    width : 99%;
}
.textBox:focus {
    background-color: teal;
}
.textBox:not(:focus) {
    background-color: teal;
}
.submitBtn{
    border: 2px solid #4988;
    border-radius: 7px;
    padding : 3px;
    background-color: rgb(4, 123, 83);
}
.decoration{
    /* width : 70%; */
    text-decoration : none;
}
.forgetPass{
    color: teal;
    color: rgb(17, 237, 237);
    
}

.errorMsg {
    color : red !important;
}